html, body, #site-container {
  height:100%;
}
body { 
    background:
      radial-gradient(#C1AAC4 15%, transparent 16%) 0 0,
      radial-gradient(#C1AAC4 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,0.8) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,0.8) 15%, transparent 20%) 8px 9px;
    background-color:#ddd;
    background-size:16px 16px;        
}


  /*header*/
  #header .navbar {
    position: fixed;
    top: 0; left: 0; right:0;
    background: #3D0C42;
    margin-bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
  }
  #header .navbar .navbar-toggle:hover, 
  #header .navbar .navbar-toggle:focus,
  #header .navbar-nav > .open > a {
    background: #490E4F;
  }
  #header .navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
  }

  #header .navbar-brand {
    margin-left: -15px;
  }
  #header .navbar-right {
    float: right !important;
  }
  #header .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #header .navbar-form .form-group {
    margin-bottom: 0;
  }
  #header .navbar-nav {
    margin: 0;
  }
  #header .navbar-nav > li {
    float: left;
  }
  #header .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: 20px;
  }
  #header .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  #header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
    padding: 10px 15px 10px 25px;
  }
  
  #logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/i/logo/logo2_sq.png) 0 0 no-repeat;
    background-size: 100% 100%;
  }



  .outer-page-container {
    max-width: 1000px;
    height:100%;
    margin: 0 auto;
    background: #fff;
    border-right: 1px solid #3D0C42;
    border-left: 1px solid #3D0C42;
    padding-top: 51px;
  }
  .page-container {
    height:100%;
    padding: 10px;
    overflow: auto;
    position: relative;
  }




#mapView {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -webkit-filter: saturate(3);
  -moz-filter: saturate(3);
  filter: saturate(3);
}