body { 
    background:#fff;        
}
  .header {
  }
  .header-link {
    display: inline-block;
    text-decoration: none;
  }
  .header-link.last-link {
    padding-left: 9px;
  }
  .header-link:visited {
    color: #3f894a;
  }
  .header-link:hover {
    color: #27552e;
    border-color: #27552e;
  }
  .header ul {
    margin: 5px 0;
  }
  .header li {
    display: inline;
  }

  .home-page {
    width: 551px;
    height: 275px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 0.5em;
    color: #6E1E77;
    background-color: #fff;
    border:1px solid #6E1E77;
    border-radius:15px;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.home-page h1{
    text-align:center;
}
.home-page p{
    text-align:center
}
.loginFields p{
    text-align:left;   
}
.loginFields{
    margin-left:auto;
    margin-right:auto;
    max-width:200px;
}
.loginFields .userNameInput{
    width:200px;
}
.loginFields input{
    padding:0;
    margin:0;
    border:0;
}
.loginFields .ckBox{
    padding:0;
    margin:0;
    border:0;
    
}