<form role="form">
    <div class="form-group">
        <label>Event title</label>
        <input class="form-control" type="text" placeholder="Event title..." value="" name="eventTitle">
        <label>Description</label>
        <textarea class="form-control" placeholder="Description..."></textarea>
        <div class="checkbox">
            <label><input type="checkbox"/>biketrial</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"/>skatebording</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"/>freerunning</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"/>basketball</label>
        </div>
        
    </div>
</form>
<div id="newEventMap"></div>
<button type="submit" class="btn btn-default btn-primary">Submit</button>