<p>Event title</p>
<input type="text" value="" name="eventTitle">
<p>Description</p>
<textarea></textarea>
<p><input type="checkbox"/>biketrial</p>
<p><input type="checkbox"/>skatebording</p>
<p><input type="checkbox"/>freerunning</p>
<p><input type="checkbox"/>basketball</p>
<div id="newEventMap"></div>
<div><input type="submit" name="Add" value="Add"></div>