<div id="newEventMap"></div>

<form role="form" class="eventEditor">
    <div class="eventEditorWrap">
        <div class="col-md-6">
            <div class="form-group">
                <label for="eventTitle">Event title</label>
                <input type="text" name="title" class="form-control" id="eventTitle" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="eventDesc">Description</label>
                <textarea class="form-control" name="description" id="eventDesc" rows="5" placeholder="Enter description for event here"></textarea>
            </div>
            <div class="form-group">
                <label for="eventType">Select category</label>
                <select name="tag" id="eventType"  class="form-control">
                    <option value="3"> Bike</option>
                    <option value="4"> Chess</option>
                    <option value="5"> Football</option>
                    <option value="6"> Parkour</option>
                    <option value="7"> Running</option>
                    <option value="8"> Skateboarding</option>
                    <option value="9"> Strike</option>
                    <option value="10"> Volunteer</option>
                    <option value="11"> Skating</option>
                    <option value="12"> Swimming</option>
                    <option value="13"> Horse Riding</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="form-group">
                <label for="eventStartTime">Start time</label>
                <input type="text" name="startTime" class="form-control" id="eventStartTime">
            </div>
            <div class="form-group">
                <label for="eventEndTime">End time</label>
                <input type="text" name="endTime" class="form-control" id="eventEndTime">
            </div>
        </div>
<<<<<<< HEAD
        <input type="hidden" name="lat" class="inputLat">
        <input type="hidden" name="lng" class="inputLng">

        <button type="submit" class="btn btn-default btn-submit btn-primary btn-lg disabled">Save</button>
=======
        <button type="submit" class="btn btn-default btn-submit btn-primary btn-lg">Save</button>
>>>>>>> ca7adb06bfd69ec8bd5f218ecec45ad5fdbbd9ed
    </div>
</form>