<p class="bg-primary">Event title</p>
<p class="bg-warning">Description</p>
<div class="checkbox">
    <label><input disabled checked type="checkbox"/>biketrial</label>
</div>
<div class="checkbox">
    <label><input disabled type="checkbox"/>skatebording</label>
</div>
<div class="checkbox">
    <label><input disabled type="checkbox"/>freerunning</label>
</div>
<div class="checkbox">
    <label><input disabled type="checkbox"/>basketball</label>
</div>
<div id="EventMap"></div>