<p>Who are you</p><input type="text" value="" name="username"/>

<p><input type="checkbox" name="freerun" value="freerun">freerun</p>
<p><input type="checkbox" name="run" value="run">run</p>
<p><input type="checkbox" name="skating" value="skating">skating</p>
<p><input type="button" value="join" name="join"/></p>