<div class="header-container" id="header-container">
    <header id="header">
    </header>
</div>

<div class="outer-page-container">
  <div class="page-container" id="page-container">
    <div id="main-container"></div>
  </div>
    <div id="addEvent" class="bg-danger addEvent">
        <a href="#new" class="btn btn-primary btn-lg active addEvent" role="button">Create Event</a>
    </div>
</div>
